/* From Uiverse.io by Codecite */
.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  z-index: 3;
}

.btn {
  border-radius: 50px;
  background-image: linear-gradient(135deg, #86d4d8 0%, #4a5cfa 100%);
  box-shadow: 0 10px 30px -6px #4a5cfa;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}
