.landing-text-display-main-container {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
}

.landing-text-display-main-container > h1 {
  font-size: clamp(2rem, 8vw, 8rem);
  z-index: 3;
  text-align: center;
  margin: 0;
  text-shadow: 2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black,
    2px -2px 0px black, 4px 4px 6px rgba(0, 0, 0, 0.5);
}

/* @media only screen and (max-width: 800px) {
  .landing-text-display-main-container > h1 {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .landing-text-display-main-container > h1 {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    font-size: 5rem;
    text-align: center;
  }
} */
