* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 15, 15);
  color: white;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.main-container,
.navbar-main-container {
  box-sizing: border-box;
}

@font-face {
  font-family: "Font1";
  src: url("./Poppins-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.font1 {
  font-family: "Font1", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.blue-font {
  color: #4a5cfa;
}
