.img-grid-container-main {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 20rem;
  transition: all 0.8s;
  flex: 1;
}
.grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(-25deg);
}

.grid-1,
.grid-2,
.grid-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.grid-1 {
  position: absolute;
  right: -20px;
  bottom: 310px;
}

.grid-2 {
  margin-left: 50px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 75px;
}
.grid-3 {
  position: absolute;
  bottom: -125px;
  right: -185px;
  margin-left: 50px;
  margin-bottom: 30px;
}

/* Apply individual rotations to each image for a fanned look */
.grid-img {
  width: clamp(350px, 50vw, 400px);
  height: auto;
  box-shadow: -3px 4px 10px rgba(145, 145, 145, 0.574); /* Add shadow for depth */
}

@media only screen and (max-width: 800px) {
  .img-grid-container-main {
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  .grid-1 {
    bottom: 255px;
    right: -30px;
  }

  .grid-2 {
    bottom: 50px;
  }
}
