.project-comp-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
}

.project-intro-section {
  width: 100%;
  height: 800px;
}

.project-comp-title-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}

.project-comp-title-container h1 {
  font-size: 8rem;
  letter-spacing: 5px;
}

.project-comp-vid-container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-comp-vid {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
  z-index: 5;
}

.project-details-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-vid-exp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.project-vid-quote {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10%;
  justify-content: center;
}

.project-vid-exp video {
  width: 50%;
  object-fit: contain;
}

.project-vid-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
