.project-main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-text-display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -100px;
}

.landing-img-display-container {
  width: 100%;
  height: 600px;
  color: white;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: flex-end;
  position: relative;
  flex-wrap: wrap;
  background-color: #4a5cfa;
}
.bg-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: bottom;
  position: relative;
}
.bg-text > h1 {
  position: absolute;
  top: -180px;
  right: 10px;
  font-size: clamp(7rem, 5vw, 8rem);
  color: rgb(15, 15, 15);
  overflow: hidden;
  transition: all 0.8s;
}
.bg-color {
  width: 100%;
  height: 90%;
  background-color: rgb(15, 15, 15);
}

.project-quote-container {
  width: 85%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-quote-container > h1 {
  font-size: 4rem;
  text-align: center;
}
.project-display-main-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.project-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
  .landing-img-display-container {
    flex-direction: column;
    align-items: center;
  }
  .bg-text > h1 {
    position: absolute;
    top: -130px;
    right: -180px;
    font-size: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .bg-text > h1 {
    position: absolute;
    top: -110px;
    right: -120px;
    font-size: 4.2rem;
  }
}
