.project-main-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  position: relative;
}

.project-list-container {
  width: 15%;
  height: 100%;
  background-color: rgb(11, 47, 78);
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.project-display-container {
  width: 85%;
  height: 100%;
  padding: 0 15px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-container {
  width: 98%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
