.project-main-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  position: relative;
}

.project-list-container {
  width: 15%;
  height: 100%;
  border-radius: 0.5rem;
  border: 5px solid rgb(11, 47, 78);
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
}

.item-list {
  cursor: pointer;
  font-size: 2rem;
}
.item-list:hover {
  color: rgb(153, 196, 231);
  text-decoration: underline;
}
.hightlight {
  color: rgb(153, 196, 231);
  text-decoration: underline;
}

.project-display-container {
  width: 85%;
  height: 100%;
  padding: 0 15px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-container {
  width: 98%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
